name: Scheduled Workflow

on:
  schedule:
    - cron: '0 1 * * *'
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Use application-secret.yml
        env:
          SECRET_APP: ${{ secrets.SECRET_APP }}  # Access the secret
          BLOG_URLS: ${{ secrets.BLOG_URLS }}
        run: |
          echo "${SECRET_APP}" > application-secret.yml
          echo "${BLOG_URLS}" > application-blogURLs.yml


      - name: Run Project
        run: ./gradlew bootRun